DATABASE_URL=postgresql+asyncpg://redirect_user:YOUR_PASSWORD@127.0.0.1:5432/urlshortener
REDIS_URL=redis://127.0.0.1:6379/0
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
KAFKA_TOPIC_CLICKS=click-events
BASE_URL=http://localhost:8003
DEBUG=False
REDIS_CACHE_TTL=3600